ul.side-nav {
  width: 190px;
}

ul.side-nav li {
  padding: 0;
}

ul.side-nav.fixed a {
  box-sizing: content-box;
  color: rgb(16, 202, 56);
  display: block;
  line-height: 100%;
  padding: 10px 0 12px;
}

ul.table-of-contents li.logo a.active, ul.table-of-contents li.logo a:hover {
  border: none;
  font-weight: 200;
}

ul.side-nav.fixed li.logo {
  background-color: #fafafa;
  border-bottom: 1px solid #ddd;
  box-sizing: content-box;
  min-height: 90px;
  padding: 30px 30px 40px;
}

ul.side-nav.fixed li.logo a {
  font-weight: 200;
  line-height: 100%;
}

ul.table-of-contents li:not(.logo) a.active, ul.table-of-contents li:not(.logo) a:hover {
  background-color: #fafafa;
  border-left: 3px solid;
}

ul.side-nav.fixed.table-of-contents li:not(.logo) a span, ul#slide-out li:not(.logo) a span {
  color: #333 !important;
}

.profile-pic {
  position: relative;
  max-width:130px;
  max-height:130px;
  width: auto;
  height: auto;
  overflow: hidden;
  margin: -31px; 
  margin-left:-7px;
  border: 3px solid rgba(9, 97, 185, 0.4); 
  border-radius: 50% !important;
}

.profile-pic img {
  width: 100%;
  height: auto;
}

/* @import url(https://fonts.googleapis.com/css?family=Poiret+One); */
.social {
  margin: 0 auto;
  width: auto;
  text-align: inherit;
}

.icon-btn {
  margin-left: auto;
  width: 50px;
  height: 50px;
  border: 0;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 30px;
  line-height: 70px;
  border-radius: 45px;
  display: inline-block;
  margin: 4px;
}

.github {
  color: rgb(4, 106, 230);
}

.linkedin {
  color: #0077b5;
}

.icon-btn:hover {
  transform: scale(1.10);
  color: #FFFFFF;
}

.github:hover {
  background-color: black;
}


/* body-color */
body {
  color: #333;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif,;
}

a {
  color: #001c4d;
}

/* main nav */
nav {
  background: white;
  box-shadow: none;
  height: 0;
}

nav i {
  padding: 0 15px;
  position: relative;
  top: 5px;
}

/* main */
main {
  background: url(../../assets/img/bg.png) repeat;
  padding-left: 190px;
}

dl {
  margin-top: 0.5rem;
}

dd {
  display: inline-block;
  font-weight: 500;
  margin-left: 0;
}

dt {
  display: inline-block;
  margin-left: 0.5rem;
}

li.logo span {
  display: block;
  font-size: 14px;
}

.brand-logo h1 {
  font-size: inherit;
  line-height: inherit;
  margin: inherit;
  font-weight: inherit;
}

.container {
  width: 95%;
}

h3 {
  font-weight: 200;
  margin-bottom: 60px;
  margin-top: 0;
  padding: 30px 40px;
  text-transform: uppercase;
}

.section {
  padding-bottom: 30px;
  padding-top: 0;
  position: relative;
}

.full-height {
  height: 100vh;
}

#intro.section {
  /* background: #82cdfc repeat; */
  /*그라데이션으로 변경*/
  background-image: linear-gradient(rgb(0, 62, 162),rgb(128, 222, 205));
  position: relative;
}

#intro.section .container {
  color: white;
  font-weight: 200;
  left: 0;
  position: absolute;
  top: 0;
}

#intro.section .container *:not(span,h1) {
  font-weight: 300;
  line-height: 150%;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

#intro.section .underline {
  border-bottom: 5px solid #24305e;
}

#intro.section .teal {
  padding: 0 10px;
}

#intro .greeting{
  padding-bottom: 15%;
  line-height: 120%;
}

#intro .greeting span{
  font-weight: 500;
  color:#ffab40;
}

#intro h5{
  color:#787d66;
}

#intro .typing{
  font-weight: 300;
  color:#ffab40;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.waves-effect.waves-blue .waves-ripple {
  /* The alpha value allows the text and background color
   of the button to still show through. */
  background-color: rgba(33, 150, 243, 0.2);
}

a.hoverline {
  border-bottom: 3px solid transparent !important;
  padding: 3px 3px 0 3px;
  transition: 0.25s all;
  -moz-transition: 0.25s all;
  -webkit-transition: 0.25s all;
}

a.hoverline:hover {
  border-bottom: 3px solid #001e4d !important;
}

#about h2{
  font-weight:500; 
  color:#0077b5;
}
#skills .card.large {
  height: 360px;
}

#skills h4 {
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

#skills .col img.responsive-img {
  margin: 0 auto;
  max-height: 100px;
  padding-bottom: 10px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.row{
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

#contact a:not(.btn-floating) {
  bottom: 6px;
  left: 20px;
  position: relative;
}

small {
  display: none;
}

/* main .teal-text */
.teal-text {
  color: #067091 !important;
}

.teal {
  background-color: #073e71 !important;
  color: #ffab40;
}

/* Experience, education 스타일 : 기존 스타일 삭제 후 추가 */
.resume-item {
    margin-bottom: 30px; /* 항목 간 간격 */
    padding: 15px 0;
    padding-left: 15px;
}

/* 1. 타이틀 (Title) 스타일 */
.item-title {
    font-size: 1.2em; /* 글자 크기 크게 */
    color: #333;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 600; /* 굵게 */
}

/* 2. 소타이틀 (Subtitle) 스타일 */
.item-subtitle {
    font-size: 1em;
    color: #666; /* 타이틀보다 연한 색 */
    margin-bottom: 10px;
}

.item-subtitle .period {
    font-style: italic; /* 기간은 기울임꼴 */
    margin-left: 10px;
}

.item-subtitle .item-list {
    padding-bottom: 5px;
    line-height: 8%;
}

/* 3. 상세 내용 (UL List) 스타일 */
.item-details {
    margin-left: 20px;
    padding-left: 0;
    color: #444;
}
.item-details li {
  line-height: 1.5; /* 가독성을 위한 충분한 행간 */
  list-style-type: disc; /*리스트 마커 (점) */
  margin-left: 24px;
}

.item-details li {
    margin-bottom: 5px; /* 리스트 항목 간 간격 */
}

/* 4. 캡션 (Caption) 스타일 */
.item-caption {
    font-size: 0.9em; /* 본문보다 작게 */
    color: #888; /* 가장 연한 색 */
    margin-top: 15px;
    padding: 0px 10px;
    background-color: #f8f9fa; /* 배경색으로 강조 */
    border-radius: 4px; /* 모서리 둥글게 */
    display: inline-block; /* 내용만큼만 너비 차지 */
}

.skill-box {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  text-align: left;
}

.skill-box li {
  /* font-size: 0.9em; */
  /* width: 120px;
  height: 100px; */
  color: #666;
  background-color: #eaeaea;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s, transform 0.3s;
  cursor: pointer;
  white-space: nowrap;     /* 내용 줄바꿈 방지 (선택) */
  padding: 5px 10px 5px 10px;
}

/* Hover 시 색상 + 확대 효과 */
.skill-box li:hover {
  background-color: #067091;
  color: white;
  transform: translateY(-4px);
}


@media (max-width: 992px) {
  main {
    padding-left: 0px;
    padding-top: 64px;
  }
  ul.side-nav a {
    line-height: 100%;
    padding: 0;
    width: 100%;
  }
  nav {
    background: #fff;
    height: 64px;
    position: absolute;
  }
  nav a.button-collapse, nav a.button-collapse i {
    color: #067091;
    height: 56px;
    line-height: 56px;
  }
  h3 {
    padding: 20px 30px;
    margin-bottom: 40px;
  }
  .container {
    margin: 0 auto;
  }
  nav.hide-on-large.only.trigger {
    display: block;
    position: fixed;
    top: 0;
    z-index: 2;
  }
  .name-title {
    display: block;
    height: 100%;
    padding-top: 15px;
    text-align: center;
    width: 100%;
    position: absolute;
  }
  .name-title>span, .name-title>a {
    position: relative;
    line-height: 20px;
  }
  .name-title a {
    font-size: 22px;
    display: block;
  }
  .name-title span {
    display: block;
    font-size: 14px;
  }
  h3, .container {
    position: relative;
    top: 64px;
  }
  section#intro {
    margin-bottom: -64px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 35px;
    line-height: 80%;
    margin: 30px 0 0;
  }
  h2 {
    font-size: 22px;
    line-height: 200%;
    margin: 30px 0 0;
  }
  #intro.section .container *:not(span,h1) {
    padding: 0;
  }

  i.mdi-navigation-close.right {
    position: relative;
    bottom: 15px;
  }
  #contact a:not(.btn-floating) {
    text-align: center;
    display: block;
    left: initial;
    bottom: initial;
  }
  #contact a.btn-floating.btn-large {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  #intro.section {
    background-position-x: 30%;
  }
}